/* ESTILOS DE LETRA */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* FIN ESTILOS DE LETRA */


/*ESTILOS ERROR*/
.error-msg {
    position: absolute;
    top: 0;
    right: -60%;
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    width: 400px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s ease-out;
    /* transform: rotate(90deg); */
}

.error-msg.animation-error {
    right: 0;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

/* FIN Estilos alertas*/

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    clear: both;
    font-family: 'Work Sans', sans-serif;
}

/* LOGIN */
body {
    overflow: hidden;
}
body.resp-scroll {
    overflow: auto;
}
.img-back {
    background-image: url('../img/restaurante/carga.jpg');
    background-size: cover;
    background-position: center;
}
.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    /* background-color: rgb(251, 251, 251); */
    background: rgba(244,159,130, .8);
    backdrop-filter: blur(2px);
}
.contenido {
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    color: black;
    max-width: 400px;
    /* width: 100%; */
}
.login-text {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 12px;
    width: 100%;
}
.login-text span {
    width: fit-content;
    padding: 0 5px;
    /* position: relative; */
    /* background-color: white; */
}
.login-text:before {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: '';
    border-bottom: 2px solid black;
    width: 100%;
}
.contenido form {
    /* margin-top: 20px; */
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.ver {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenido form div {
    padding: 20px 0;
    width: 100%;
}
.contenido form div:first-child {
    padding-top: 30px;
}
.contenido form div:nth-child(2) {
    margin-bottom: 10px;
}
.contenido form label {
    display: block;
    color: black;
    font-weight: 600;
    font-size: 20px;
    /* width: 10px; */
    margin-bottom: 10px;
}
.contenido form input {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    /* background: linear-gradient(37deg,rgb(37, 206, 37), rgb(48, 197, 217)); */
    background: white;
    border: 1px solid rgba(244,159,130, .8);
}

.contenido form input.btn-login {
    width: fit-content !important;
    background: rgba(244,159,130, .8);
    color: black;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.contenido form input.btn-login:hover {
    border: none;
    outline: none;
    background-color: rgb(202, 98, 29);
}

/* FIN LOGIN */


/* PAGINA RESTAURANTE */

nav {
    width: 100%;
    position: relative;
    z-index: 5;
    background-color: #585e5c;
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
}
nav h3 {
    width: 100%;
    color: #dce0e3;
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
    /* height: 20px; */
}
.log-out {
    position: absolute;
    /* height: 10%; */
    top: 0;
    right: 0;
    z-index: 5;
    margin: 15px;
    font-size: 25px;
    color: white;
    transition: all 3s;
}
.log-out:hover i:before {
    transition: all .3s;
    content: "\f2f5";
    color: white;
}

.contenido.restaurante {
    /* padding: 20px; */
    padding: 0px;
    /* border: 2px solid black; */
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    color: black;
    /* max-width: 600px; */
    max-width: initial;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.salas.Terraza {
    background-image: url('../img/restaurante/terraza.jpg');
    background-position: center bottom;
}
/* .salas.terraza.remove > .blur > h2 {
    display: none;
} */
.salas.Comedor {
    background-image: url('../img/restaurante/comedor.jpg');
}
.salas.Privada {
    background-image: url('../img/restaurante/privada.jpg');
}
.blur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(167, 167, 167, .5);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}
.salas, .content {
    width: 33.333%;
    height: 200px;
    /* height: fit-content; */
    /* border: 1px solid black; */
    background-size: cover;
    transition: all 0.7s;
    border: 2.5px solid rgba(0,0,0,0);
    margin-bottom: 5px;

}
.salas {
    /* margin: 5px; */
    width: 100%;
    border: 1px solid black;
}
.salas.minimas {
    width: 33.3333%;
}
.salas.mostrar {
    display: block;
    transform: rotateY(180deg);
}
.salas .blur {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    /* margin: 5px; */
}
.tipo {
    display: contents;
}
.salas .blur > * {
    /* width: 100%; */
    font-size: 23px;
    background-color: rgba(220,224,227, .8);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}

.info-salas {
    display: none;
    opacity: 0;
    transition: all .7s;
}
.info-salas.mostrar {
    font-size: 18px;
    font-weight: bold;
    display: block;
    opacity: 1;
    transform: rotateY(180deg);
}
.info-salas.mostrar > p {
    margin: 0;
}

.btn-salas {
    background-color: #f08362;
    /* border: thin solid black; */
    border: none;
    box-shadow: black 0px 0px 20px 2px;
    padding: 7px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form-res {
    text-align: center;
}
.btn-reservas, .btn-reservas.sala {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.btn-reservas.sala {
    margin-bottom: 20px;
}
.btn-reservas button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    background: #dce0e3;
    border: 0 solid #000;
    box-shadow: #dce0e3 1px 1px 10px ;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
#all-salas {
    padding: 0 15px;
    height: auto;
    width: fit-content;
}
#final-reserva {
    margin-top: 20px;
    font-size: 20px;
}
/* FIN RESTAURANTE */

/* PAGINA SALAS */

.img-svg {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

/* FIN SALAS */

/* MODAL */

/*VENTANAS MODALES*/

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    /* opacity:0; */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* pointer-events: none; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/* .modalmask:target {
    opacity:1;
    pointer-events: auto;
} */
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    
}

.contenido.modalbox > form .reservar {
    /* padding: 0px 10px; */
    padding-top: 0 !important;
}

.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
}
.modalmask:target .movedown{
    margin:10% auto;
}
.modalmask:target .rotate{
    transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}
.modalmask:target .resize{
    width:400px;
    height:200px;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
    font-size:16px;
}

.close:hover {
    background: #FAAC58;
    color:#222;
}
/* FIN MODAL */

.volver-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 17px;
    font-size: 30px;
    color: white;
    z-index: 5;
    transition: all 0.3s;
}
.volver-btn:hover {
    color: #fff;
    transform: scale(1.15);
}

.fondo-mesas {
    background-image: url('../img/restaurante/carga.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    background: rgba(244,159,130, .8);
    backdrop-filter: blur(1px);
}
.fondo-mesas .limites {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../img/restaurante/back.jpg');
    background-size: 10%;
    border-radius: 20px;
}
.fondo-mesas .limites.terraza {
    width: 90%;
    display: grid;
    grid-template-areas:
    '1 2 3 4';
    justify-content: space-around;
}
.m-ini { grid-area: ini;}
.m-fin { grid-area: fin;}
.fondo-mesas .limites.comedor {
    width: 90%;
    max-height: 81%;
    display: grid;
    grid-template-areas:
    'ini ini 2 3 4'
    '5 6 7 fin fin';
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.fondo-mesas .limites.comedor > * {
    width: auto;
    max-height: 270px;
}
.fondo-mesas .limites.comedor > * img {
    width: 80%;
    cursor: pointer;
    z-index: 10;
}
.fondo-mesas .limites.comedor > *:first-child img:first-child, .fondo-mesas .limites.comedor > *:last-child img:first-child {
    width: 88%;
    height: 440px;
}
.fondo-mesas .limites.privada {
    width: 90%;
    max-height: 81%;
    display: grid;
    grid-template-areas:
    '1 2 3 4 5 6';
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.fondo-mesas .tarjeta {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0px 20px; */
    cursor: pointer;
}
.tarjeta > form {
    /* width: 100%; */
    /* margin: 0px 20px; */
    text-align: center;
    overflow: hidden;
    /* background-color: white; */
}
.ocupado {
    -webkit-filter: invert(33%) sepia(98%) saturate(7468%) hue-rotate(358deg) brightness(93%) contrast(119%);
    filter: invert(33%) sepia(98%) saturate(7468%) hue-rotate(358deg) brightness(93%) contrast(119%);
}
.mantenimiento {
    -webkit-filter: invert(33%) sepia(98%) saturate(7468%) hue-rotate(358deg) brightness(93%) contrast(119%);
    filter: invert(33%) sepia(5%) saturate(7408%) hue-rotate(0deg) brightness(100%) contrast(300%);
}
/* .default {
    -webkit-filter: invert(33%) sepia(98%) saturate(7468%) hue-rotate(358deg) brightness(93%) contrast(119%);
    filter: invert(33%) sepia(5%) saturate(7408%) hue-rotate(0deg) brightness(100%) contrast(300%);
} */
/* FIN PAGINA RESTAURANTE */
.loader-page {
    position: fixed;
    z-index: 25000;
    background-image: url('../img/restaurante/carga.jpg');
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(37deg,rgb(105, 255, 105), rgb(76, 234, 255)); */
    background: #f6ae96;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 10px solid rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    border-radius: 12%;
    box-sizing: border-box;
    /* border-left: 2px solid rgba(50, 150, 176,0); */
    /* border-top: 2px solid rgba(50, 150, 176,0); */
    animation: rotarload 2.5s linear infinite;
    /* transform: rotate(0deg); */
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      25%   {transform: rotate(180deg)}
      50% {transform: rotate(180deg)}
      75% {transform: rotate(360deg)}
      100% {transform: rotate(360deg)}
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 10px solid #f08362;
    width: 80px;
    height: 80px;
    border-radius: 12%;
    box-sizing: border-box;
    /* border-left: 2px solid rgba(50, 150, 176, 0); */
    /* border-top: 2px solid rgba(50, 150, 176, 0); */
    animation: rotarload2 2.5s ease-out infinite;
    transform: rotate(180deg);
  }
  @keyframes rotarload2 {
    0%   {transform: rotate(0deg)}
    25%   {transform: rotate(180deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(360deg)}
    100% {transform: rotate(360deg)}
}
/* TABLA RESERVAS */
nav {
    width: 100%;
    position: relative;
    z-index: 5;
    background-color: #585e5c;
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
}
nav h3 {
    width: 100%;
    color: #dce0e3;
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
    /* height: 20px; */
}
.btn-group {
    width: 100%;
    position: relative;
    z-index: 5;
    background-color: #585e5c;
    border-radius: 0;
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
    justify-content: center;
    
}
.btn-group > * {
    /* width: fit-content; */
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.btn-group > *:first-child button {
    width: 100%;
    color: white;
    margin: 0;
    padding: 18px 0;
    font-weight: bold;
    font-size: 18px;
    /* height: 20px; */
}
.btn-group > div:last-child a {
    /* width: 100%; */
    color: #dce0e3;
    /* margin: 0; */
    /* padding: 18px 0; */
    /* font-weight: bold; */
    font-size: 25px;
    /* height: 20px; */
}
button.active {
    color: black !important;
    background-color: #c5c5c5 !important;
    border: none;
    border-radius: 0;
}
.table.resp {
    display: flex;
    flex-direction: 100%;
    flex-wrap: wrap;
    width: 100%;
}
.table.resp > div {
    /* width: 25%; */
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table.resp > div .grafico-canvas{
    width: 100%;
}

/* FIN TABlA RESERVA */

/* RESPONSIVE */

@media only screen and (max-width: 710px) {
    .contenido.restaurante {
        width: 80%;
        height: 75vh;
        overflow: auto;
        scrollbar-base-color: #D8000C;
    }
    .contenido.restaurante::-webkit-scrollbar {
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
        display: none;  /* Ocultar scroll */
    }
    .content {
        width: 50%;
        height: 200px;
        background-size: cover;
        transition: all 0.7s;
        border: none;
        margin-bottom: 0;
    }

    .fondo-mesas .limites.privada {
        max-height: 75%;
        display: grid;
        grid-template-areas:
        '1 2';
        overflow: auto;
    }
}

@media only screen and (max-width: 420px) {
    .contenido.restaurante {
        width: 80%;
        height: 75vh;
        overflow: auto;
    }
    .content {
        width: 100%;
        height: 200px;
        /* height: fit-content; */
        /* border: 1px solid black; */
        background-size: cover;
        transition: all 0.7s;
        border: none;
    }

    .contenido {
        margin: 0 15px;
    }
    .fondo-mesas .limites.terraza {
        width: 90%;
        max-height: 75%;
        display: grid;
        grid-template-areas:
        '1';
        overflow: auto;
    }
    .fondo-mesas .limites.privada {
        max-height: 75%;
        display: grid;
        grid-template-areas:
        '1';
        overflow: auto;
    }
    .tarjeta > form {
        /* width: 100%; */
        /* margin: 0px 20px; */
        text-align: center;
        overflow: hidden;
        /* background-color: white; */
    }
    .fondo-mesas .limites.comedor {
        width: 90%;
        max-height: 75%;
        display: grid;
        grid-template-areas:
        'ini'
        '2'
        'fin';
        align-items: center;
        justify-items: center;
        overflow: auto;
    }
    .fondo-mesas .limites.comedor > *:first-child img:first-child, .fondo-mesas .limites.comedor > *:last-child img:first-child {
        width: 88%;
        height: 322px;
    }
}

/* FIN RESPONSIVE */
